<%- include('./partials/head') %> 

<body>
<%- include('./partials/navbar') %>
<br>

<div class="container">
    <div class="card-header bg-warning">
        <h3>Canecas <i class="fa-solid fa-mug-hot"></i></h3>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
              <% caneca.forEach(canecas => { %>
              <div class="card" style="width: 13rem; margin: 30px;">
                <img src="<%= canecas.picture %>" style="height: 150px; width: 10rem">
                <div class="card-body">
                  <h5 class="card-title"><%= canecas.nome %></h5>
                  <p class="card-text">Caneca personalizada </p>
                  <span>Valor: R$<%= canecas.price %>,00</span>
                  <br><br>
                  <a href="/canecass/<%= canecas.id %>" class="btn btn-primary">Ver mais</a>
                </div>
              </div>
              <%}) %>
               </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %> 