<%- include('./partials/head') %> 

<body>
<%- include('./partials/navbar') %> 
<br>

<div class="container">
    <div class="card-header bg-warning">
        <h3>Meu perfil</h3>
    </div>

    <div class="card-body">
        <br>
      <form action="/perfil" method="post" enctype="multipart/form-data">
          <label for="img-perfil"></label>
          <input type="file" name="img-perfil" id="" placeholder="Escolha uma imagem de perfil">
          <button type="submit" class="btn-primary">Enviar</button>
      </form>

        
        <p>Nome: <%= usuario.nome %> </p>
        <p>Email: <%= usuario.email %> </p>
        <p>Data de nascimento: <%= usuario.ano_nascimento %> </p>

        <br>
        <br>
        <br>

        <p><u>Última compra em:</u></p>
        <p><u>Cadastrado em:</u></p>
        <p><u>Último acesso:</u></p>
    </div>
</div>

<hr>



<%- include('./partials/footer') %> 