<%- include('./partials/head') %> 

<body>
<%- include('./partials/navbar') %> 
<br>

<div class="container">
    <div class="card-header bg-warning">
        <h3>Meu perfil</h3>
    </div>

    <div class="card">
    <div class="card-body">
        <br>
      

        
        <p>Nome: <%= usuario.nome %> </p>
        <p>Email: <%= usuario.email %> </p>
        <p>Data de nascimento: <%= usuario.ano_nascimento %> </p>

        <br>
        <br>
        <br>
        <br>
        <br><br>

        
    </div>
</div>
</div>

<hr>



<%- include('./partials/footer') %> 